<ion-view title="Accommodation Package">
    <ion-content class="has-header" padding="true" overflow-scroll="true">
        <a class="button button-calm button-block button-small icon-left ion-ios-arrow-back" href="#/side-menu21/tickets">Go Back</a>
        <h3>Accommodation Package</h3>
        <h5></h5>
        <h1>$220</h1>
        <h5>per room, per night</h5>
        <ion-list>
            <ion-item>Rydges St. Kilda</ion-item>
            <ion-item>Superior Queen Room (sleeps 2)</ion-item>
            <ion-item>Double day pass tickets included</ion-item>
            <ion-item>Extremely close to the festival</ion-item>
            <ion-item></ion-item>
        </ion-list>
        <a class="button button-energized button-block  icon-left ion-ios-cart-outline" onclick="window.open('http://events.ticketbooth.com.au/event/MelbourneBeerFest15', '_system', 'location=yes'); return false;" href="#">GRAB TICKETS NOW!</a>
    </ion-content>
</ion-view>