<ion-view title="Alex Rohan">
    <ion-content class="has-header" padding="true" overflow-scroll="true">
        <a class="button button-calm button-block button-small icon-left ion-ios-arrow-back" href="#/side-menu21/entertainment">Go Back</a>
        <div>
            <p>Singer- song writer on a loop pedal</p>

            <p>https://soundcloud.com/user-602955525</p>

            <p>PERFORMANCE TIME: 9am</p>

            <p>WHERE: MAIN STAGE</p>
        </div>
        <img width="75%" height="auto" style="width: 75%; height: auto;" src="img/etzn0FQUR9rVPfoSof9Y_alex.jpg">
    </ion-content>
</ion-view>