<ion-view title="Contact">
    <ion-content class="has-header" style="background: url(img/hmJc6CdRNc1Mmpy7iyJw_beerfest-crowd-large.jpg) no-repeat center;" padding="true" overflow-scroll="true" scroll="false">
        <img width="100%" height="auto" style="width: 100%; height: auto;" src="img/V53ImY8TRiGh6Q3Av1L6_maps.PNG">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Your Full Name">
            </label>
            <label class="item item-input" name="Email">
                <span class="input-label">Email</span>
                <input type="text" placeholder="yourname@yourisp.com">
            </label>
            <label class="item item-input" name="Message">
                <span class="input-label">Message</span><textarea placeholder="Enter your message . . ."> </textarea>
            </label>
        </form>
        <button class="button button-calm button-block ">SEND MY MESSAGE</button>
    </ion-content>
</ion-view>