<ion-view title="Home">
    <ion-content class="has-header" style="background: url(img/42KOmHXzS0WM82ruaFNC_10929201_773033366157692_171336224778503224_n.jpg) no-repeat center;" padding="true" overflow-scroll="true" scroll="false">
        <img width="100%" height="auto" style="width: 100%; height: auto;" src="img/V74P0SlSi2idH60mDx7Q_melbourne-beerfest-200px.png">
        <form class="list"></form>
        <h1></h1>
        <a class="button button-energized button-block button-large icon-right ion-beer" href="#/side-menu21/tickets">GET TICKETS NOW</a>
        <h3></h3>
        <h5></h5>
        <ion-list></ion-list>
    </ion-content>
</ion-view>