<ion-view title="Jae &amp; Liona">
    <ion-content class="has-header" padding="true" overflow-scroll="true">
        <a class="button button-calm button-block button-small icon-left ion-ios-arrow-back" href="#/side-menu21/entertainment">Go Back</a>
        <div>
            <p>. . .</p>
        </div>
        <div style="border-radius: 3px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 75%; height: auto; text-align: center; line-height: 250px; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="color: rgb(136, 136, 136); font-size: 64px; vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>