<ion-view title="NAFASI">
    <ion-content class="has-header" padding="true" overflow-scroll="true">
        <a class="button button-calm button-block button-small icon-left ion-ios-arrow-back" href="#/side-menu21/entertainment">Go Back</a>
        <div>
            <p>NAFASI is a 4 piece band based in Melbourne. Drawing influences from acts like Little Dragon, J Dilla and Robert Glasper, NAFASI produces a sound that sits comfortably between RnB, Hip Hop and Pop.</p>

            <p>https://soundcloud.com/nafasiband</p>

            <p>PERFORMANCE TIME: 9am</p>

            <p>WHERE: MAIN STAGE</p>
        </div>
        <img width="75%" height="auto" style="width: 75%; height: auto;" src="img/o51hZBL6QrCW2y3oom6d_nafasi.jpg">
    </ion-content>
</ion-view>