<ion-view title="Social Media">
    <ion-content class="has-header" padding="true" overflow-scroll="true">
        <img width="100%" height="auto" style="width: 100%; height: auto;" src="img/LwV8tUp8TYq9ktnFW4DQ_fremantle-crowd-cutout.jpg">
        <a class="button button-energized button-block  icon-left ion-monitor" onclick="window.open('http://melbourne.beerfestivals.com.au', '_system', 'location=yes'); return false;" href="#">melbourne.beerfestivals.com.au</a>
        <a class="button button-energized button-block  icon-left ion-social-facebook-outline" onclick="window.open('https://www.facebook.com/MelbourneBeerFest/timeline', '_system', 'location=yes'); return false;" href="#">facebook</a>
        <a class="button button-stable button-block  icon-left ion-social-apple" onclick="window.open('http://www.duncanunderwood.com.au', '_system', 'location=yes'); return false;" href="#">Apple Store</a>
        <a class="button button-stable button-block  icon-left ion-android-playstore" onclick="window.open('http://www.duncanunderwood.com.au', '_system', 'location=yes'); return false;" href="#">Google Play Store</a>
        <a class="button button-stable button-block  icon-left ion-social-windows" onclick="window.open('http://www.duncanunderwood.com', '_system', 'location=yes'); return false;" href="#">Windows Store</a>
        <h5>#melbournebeerfest</h5>
        <a class="button button-stable button-block button-small icon-left ion-code" onclick="window.open('http://www.duncanunderwood.com.au', '_system', 'location=yes'); return false;" href="#">App Dev by Duncan Underwood</a>
    </ion-content>
</ion-view>